 <form ref='uploadForm'
          id='uploadForm'
          action='/api/upload'
          method='post'
          encType="multipart/form-data">
    <p>Upload your Odoo export file</p>
        <input type="file" name="csvdata" accept="text/csv">
    <input type="submit" value="OK">
</form>